.synopsis {
    color: #7E8184;        /* Light gray */
    font-style: italic;
}

.synopsis em {
    font-style: normal;
}

.synopsis strong {
    color: rebeccapurple;
}

.button {
    color: #FFF;
    background-color: #5995DA;    /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    /* Dark gray */
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}

.page {
    width: 600px;
    margin: 0 auto;
}

.call-to-action {
    font-style: italic;
    background-color: #EEB75A;    /* Yellow */
}

a:link {                            /*:link – A link the user has never visited.*/
    color: blue;
    text-decoration: none;
}
a:visited {                         /*:visited – A link the user has visited before.*/
    color: purple;
}
a:hover {                           /*:hover – A link with the user’s mouse over it.*/
    color: aqua;
    text-decoration: underline;
}
a:active {                          /*:active – A link that’s being pressed down by a mouse (or finger).*/
    color: red;
}

/*These last two sections let you style visited links entirely separately from unvisited ones. It’s a nice option to have, but again, you’re welcome to stop at basic link styles if that’s all you need.*/
a:visited:hover {
    color: orange;
}

a:visited:active {
    color: red;
}

